<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1082677791427-bovpa0tg778q6ii8m28idi0lg7f8fad4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082677791427-bovpa0tg778q6ii8m28idi0lg7f8fad4</string>
	<key>API_KEY</key>
	<string>AIzaSyCtHF9WxVeHs2LD8WNRQOjC7BNvO8366cY</string>
	<key>GCM_SENDER_ID</key>
	<string>1082677791427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.helloWorld</string>
	<key>PROJECT_ID</key>
	<string>cakebossbd</string>
	<key>STORAGE_BUCKET</key>
	<string>cakebossbd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082677791427:ios:2f5a518bb0f4849c1db076</string>
</dict>
</plist>